$kinddarkgrey: #444;
$theprimarycolor: #2299e3;

label {
  margin-bottom: 0;
}
.file-header h2 {
  margin-top: -40px;
  margin-bottom: 65px;
  color: #444;
  // text-shadow: 1px 1px 2px #888;
}

.btn-generate-key {
  width: 190px;
  color: #000;
  font-family: 'Source Sans Pro';
  text-transform: uppercase;
  margin-top: 0;
  margin-right: 50px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.generateInput {
  height: 60px;
  width: 80%;
  margin: 0 auto;
  font-size: 25px;
  cursor: text;
  margin-left: 70px;
  outline: none;
}

.btn-connect, .btn-push, .btn-pull {
  margin: 0 auto;
  text-transform: uppercase;
  font-family: 'Source Sans Pro';
  width: 140px;
  color: $theprimarycolor;
  border-color: $theprimarycolor;
  height: 60px;
  &:hover {
    color:#fff;
    background-color: $theprimarycolor;
  }
}

/**File Table list */
.btn-push, .btn-pull {
  width: 60px;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

.btn-push i, .btn-pull i {
  font-size: 22px;
}

.--hover:hover {
  background-color: #fff;
  color: #1679C5;
}

.fullwidthcard {
  padding:0;
  // margin-top:24px;
  h4 {
    color: $kinddarkgrey;
  }
}

.filecard {
  min-height: 20px;
  margin-bottom: 20px;
  padding: 0 13px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #aaa;
  border-top-color: transparent;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.myfiles {
  width:100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 24px;
  margin: 0 auto;
  margin-bottom: 0;
  margin-top: 30px;
  border-radius: 6px;
  background: rgba(242, 241, 239, 0.7);
  -webkit-box-shadow: 1px 1px 17px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 17px 4px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 17px 4px rgba(0,0,0,0.2);
}

.myfiles {
    h3 {
  font-size: 28px;
  text-transform: none;
  font-weight: 400;
  text-shadow: 1px 1px 2px #888;
  span {
    font-weight: 600;
    }
  }
}

.pushpull {
  margin-top: 12px;
}

.filewell {

  height: 220px;
  overflow: auto;
  overflow-x: hidden;

}

.myfilelist {
  text-align: left;
  color: #000;
}

.name-label {
  cursor: pointer;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
}

input[type="checkbox"]:checked + .fileitem{
  background: #aaa;
}

.header-title {
  color:#fff;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #777;
  font-weight: 700;
  border-bottom: 3px solid rgba(34, 167, 240, 0.8) !important;
  border-bottom-right-radius: none !important;
  border-bottom-left-radius: none !important;
  padding: 10px 15px;
  background-color: rgba(22,154,231, 0.7);
  border: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  margin-bottom: -5px
}


.fixed-header-file {
margin:0;
margin-bottom: -1px;
height: 49px;
padding: 14px;
}


.list-group-item:first-child {
  border-top-right-radius: none !important;
  border-bottom: none !important;
  border-top-left-radius: none !important;
}

.table-border {
  border-left: 1px solid #ccc;
  height: 100%;
}

.file-title-center {
  text-align: center;
  font-size: 18px;
  margin-top: -3px;
}
.receive-well {
  background: rgba(230, 230, 230, 0.4);
}

/**Dropdown **/
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -112px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 100px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  color: #000;
  background-color: white;
  cursor: pointer;
}

.dropdown-menu > li > a {
  color: #409BDC !important;
  text-shadow: none;
}

.dropdown-menu > li > a:hover {
  color: #0e2156;
}

a {
  color: #fff;
}

.dropdown ul.dropdown-menu {
  border-radius: 4px;
  box-shadow: none;
  margin-top: 20px;
  width: 160px;
}

.dropdown ul.dropdown-menu:before {
  content: "";
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 16px;
  z-index: 10;
}

.dropdown ul.dropdown-menu:after {
  content: "";
  border-bottom: 12px solid #ccc;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -12px;
  right: 14px;
  z-index: 9;
}

.checkbackground {
  background: #ccc;
}
.file-item {
    border-top-left-radius: none !important;
    border-top-right-radius: none !important;
    padding: 10px 15px;
}
.file-item .fa-play, .fa-exchange {
  background: #ccc;
  width: 22px;
  height: 22px;
  padding: 5px;
  padding-left: 7px;
  padding-down: 6px;
  border-radius: 50%;
  color: #555;
  cursor: pointer;
  -moz-transition: background-color 0.1s 0.1s, color 0.2s;
  -o-transition: background-color 0.1s 0.1s, color 0.2s;
  -webkit-transition: background-color 0.1s 0.1s, color 0.2s;
  transition: background-color 0.1s 0.1s, color 0.2s;
}

.fa-exchange {
  position:absolute;
  top:-10px;
  left:30px;
  padding: 4px;
  padding-left: 4px;
  padding-down: 3px;
  z-index:3;
}

.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    min-width: 80px;
}

.playsync {
  display:none
}

.playoptions:hover .playsync {
  display: block;
}

.file-item .fa-play:hover, .fa-exchange:hover {
  background: #aaa;
  color: $kinddarkgrey;
}

// .file-item .fa-play:hover .playsync{
// display:block;
// }

.file-item .fa-arrow-down, .file-item .fa-trash, .file-item .fa-times {
  width: 22px;
  height: 22px;
  color: #555;
  padding: 4px;
  padding-down: 6px;
  border: none;
  border-radius: 50%;
  background: none;
  -moz-transition: background-color 0.1s 0.1s, color 0.2s;
  -o-transition: background-color 0.1s 0.1s, color 0.2s;
  -webkit-transition: background-color 0.1s 0.1s, color 0.2s;
  transition: background-color 0.1s 0.1s, color 0.2s;
  cursor: pointer;
}

.file-item .fa-arrow-down {
  padding:5px;
}

.file-item .fa-arrow-down:hover, .file-item .fa-trash:hover, .file-item .fa-times:hover {
  color: #555;
  background: #aaa;
}

.file-item .fa-trash, .file-item .fa-times {
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 5px;
}

.file-item .fa-trash:hover, .file-item .fa-times:hover {
  background: #ccc;
  color: #ff3333;
}

.fa-times {
  padding-left: 5px;
}

.icon-link {
  width: 60px;
  height: 60px;
  background-color: #666;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  outline: none;
  margin: 0 auto;
  margin-left: 40px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.icon-link.fill.facebook {
  background-color: #3b5998;
}

.icon-link.fill.facebook:hover {
  background-color: #fff;
}

.icon-link.fill.facebook:hover .fa-facebook {
  color: #3b5998;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link.fill.linkedin {
  background-color: #007bb6;
}

.icon-link.fill.linkedin:hover {
  background-color: #fff;
}

.icon-link.fill.linkedin:hover .fa-linkedin {
  color: #007bb6;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link.fill.twitter {
  background-color: #00aced;
}

.icon-link.fill.twitter:hover {
  background-color: #fff;
}

.icon-link.fill.twitter:hover .fa-twitter {
  color: #00aced;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link.fill.skype {
  background-color: #009EE5;
}

.icon-link.fill.skype:hover {
  background-color: #fff;
}

.icon-link.fill.skype:hover .fa-skype {
  color: #009EE5;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link.fill.google-plus {
  background-color: #dd4b39;
}

.icon-link.fill.google-plus:hover {
  background-color: #fff;
}

.icon-link.fill.google-plus:hover .fa-google-plus {
  color: #dd4b39;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link.fill.reddit {
  background-color: #8bbbe3;
}

.icon-link.fill.reddit:hover {
  background-color: #fff;
}

.icon-link.fill.reddit:hover .fa-reddit {
  color: #8bbbe3;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link.fill.youtube {
  background-color: #df1c31;
}

.icon-link.fill.youtube:hover {
  background-color: #fff;
}

.icon-link.fill.youtube:hover .fa-youtube {
  color: #df1c31;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link.fill.github {
  background-color: $kinddarkgrey;
}

.icon-link.fill.github:hover {
  background-color: #fff;
}

.icon-link.fill.github:hover .fa-github {
  color: $kinddarkgrey;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link.fill.envelope {
  background-color: #333;
}

.icon-link.fill.envelope:hover {
  background-color: #fff;
}

.icon-link.fill.envelope:hover .fa-envelope {
  color: #333;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link.fill.slack {
  background-color: #78D4B6;
}

.icon-link.fill.slack:hover {
  background-color: #fff;
}

.icon-link.fill.slack:hover .fa-slack {
  color: #78D4B6;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link.fill.whatsapp {
  background-color: #25D366;
}

.icon-link.fill.whatsapp:hover {
  background-color: #fff;
}

.icon-link.fill.whatsapp:hover .fa-whatsapp {
  color: #25D366;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link.fill.clipboard {
  background-color: #F0C973;
}

.icon-link.fill.clipboard:hover {
  background-color: #fff;
}

.icon-link.fill.clipboard:hover .fa-link {
  color: #F0C973;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link.fill.clipboard:hover .copied {
    color: #F0C973;
}

.icon-link.round {
  border-radius: 50%;
}

.icon-link.round-s {
  border-radius: 5%;
}

.icon-link.round-corner {
  border-radius: 50%;
}

.icon-link:hover {
  -moz-transition: background-color 150ms ease-in-out;
  -o-transition: background-color 150ms ease-in-out;
  -webkit-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
  background-color: #fff;
}

.icon-link:hover .fa-facebook {
  color: #3b5998;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-linkedin {
  color: #007bb6;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-twitter {
  color: #00aced;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-skype {
  color: #009EE5;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-google-plus {
  color: #dd4b39;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-reddit {
  color: #8bbbe3;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-youtube {
  color: #df1c31;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-github {
  color: $kinddarkgrey;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-envelope {
  color: #333;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-slack {
  color: #78D4B6;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-whatsapp {
  color: #25D366;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-link {
  color: #F0C973;
  -moz-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link .fa {
  color: #fff;
  line-height: 60px;
  font-size: 36px;
}

.icon-link .fa-slack {
  font-size: 30px;
}

.progress1 {
  width: 100%;
  height: 50px;
}

.progress-wrap {
  background: #f80;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}

.progress-wrap .progress-bar1 {
  background: #ddd;
  left: 0;
  position: absolute;
  top: 0;
}

.uploading.active .progress-bar1, .progress-bar1.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

.uploading {
  height: 10px;
  width: 100%;
  position: relative;
  margin-top: 6px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.6);
  border-radius: 9px;
}

.uploading span {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 10px;
}

.uploading-item {
  background: rgb(245, 245, 245);
}

#percentupload {
  margin-top: 2px;
}

.uploadbar {
  z-index: 10;
  width: 2%;
  background: rgba(22,154,231, 0.8);
  box-shadow: 0 0 7px rgba(52, 169, 237, 0.2);
}

.progress-bar1 {
  height: 34px;
  width: 100%;
  padding: 12px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/* Display name */
.displayname {
  width: 100%;
height: auto;
color: $kinddarkgrey;
font-size: 21px;
padding-top: 20px;
margin-top: 6px;
margin-bottom: 6px;
margin-left: 15px;
float: left;
  .label-display {
    float:left;
    margin-left: 15px;
    margin-top: 4px;
  }
}

.profile-input {
  transition: all .3s ease-in-out;
  position:relative;
}

.display-input {
  position: relative;
}

input[id="display-name"] {
  border-width: 0;
  border-bottom: 2px solid #bbb;
  color: #999;
  background: rgba(245, 245, 245, 0.7);
  padding-top:3px;
  padding-bottom: 2px;
  padding-right: 10px;
  padding-left: 7px;
  height:40px;
  width: 60%;
  max-width: 275px;
  transition: all .3s ease-in-out;
}

input[id="display-name"]:focus {
  outline: none;
  color: #777;
  border-bottom: 2px solid #409BDC;
}

input[id="display-name"]:focus + .edit-btn {
  color: #fff;
}

.edit-btn {
  position: relative;
  width: 16px;
  height: 16px;
  line-height: 16px;
  top: 8px;
  right: 26px;
  color: #ccc;
  float:left;
  transition: all .3s ease-in-out;
}

.copyclipboard-card {
  position:relative;
  min-height: 25px;
  height: 166px;
  /* margin-bottom: 20px; */
  // padding: 10px;
  background-color: rgba(240, 240, 240, 0.7);
  border: 2px solid #aaa;
  border-radius: 4px;
  text-align: center;
margin: 0 auto;
margin-top: 15px;
width: 40%;
// float:right;
z-index: 1;
transition: width 0.3s;
display:none;
}

.flashcopied {
  color: #fc3f3f !important;
  margin-top: -63px;
margin-right: 30px;
}

.copyclipboard-card h6 {
  font-size: 10.5px;
  letter-spacing: 0.5px;
  color: #222;
  margin: 0 auto;
  padding: 11px 6px;
}

/*large clipboard send link overwrite */

.largelink {
  width: 22vw;
  max-width: 200px;
  // margin: 10px;
  margin-left: -20px;
  height: 115px;
  border-radius: 6px;
  margin-top: 20px;
  span h3 {
    padding:43px;
    font-size:26px;
    font-weight: 600;
    text-transform: none;
    text-shadow: 1px 1px 2px #888;
  }
}


.float-link {
  float: left;
padding: 28px;
// padding-left: 12px;
padding-right: 5px;
  text-shadow: 1px 1px 2px #888;
}

/* End */

.message-app-card {
  h6 a {
    color:#222;
  }
}


.btn-hide {
  display: none;
}




#hideall {
  opacity:1;
  position: relative;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

#addfilehide {
  opacity:1;
  transition: all 0.3s ease-in-out;
}

.showtoggle {
  opacity:0 !important;
  z-index: 1 !important;
}
.widthOpenVideo {
  width: 100%;
}

#remoteFileListContainer {
  display:none;
}

.temp-message {
  p {
    color: $kinddarkgrey
  }
}

#connectionStatus {
  margin-top: 20vh;
  font-size: 2rem;
  display:none;
}

input[id="shareKeyInputElm"] {
  display:block;
  position:relative;
  color:#444;
  padding-left: 5px;
    width:300px;
  margin: 0 auto;
  margin-top: 10px;
  font-weight:400;
  font-size: 18px;
  height:40px;
  &:focus {
    outline:none;
  }
}

@media (min-width: 1200px) {
  .btn-push {
    margin-bottom: 25px;
  }
}

@media (max-width: 1199px) {
  .generateInput {
    width: 60%;
    margin-left: 0;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .btn-push {
    margin-bottom: 15px;
  }
  .btn-pull {
    margin-bottom: 15px;
  }
  .fa-long-arrow-left, .fa-long-arrow-right {
    display: none;
  }
}

@media (min-width: 480px) {
  .copyclipboard-card h6 {
    font-size: 12.5px;
    letter-spacing: 0.7px;
  }
}

@media(max-width: 992px) {
  .pushpull {
    margin-top: 30px;
  margin-bottom: 10px;
  }

  .myfiles {
    padding-bottom: 48px;
  }
  .float-link {
    padding: 21px;
  padding-left: 25px;
    font-size: 27px !important;
  }

  .largelink {
    height: 98px;
    margin-top: 0;
    span h3 {
    padding: 38px;
    text-indent: 3px;
    font-size: 21px;
    }
  }
  .flashcopied {
    font-size: 12px;
    margin-top: -70px;
width: 100%;
  }
  #connectionStatus {
    margin-top: 8vh;
    margin-bottom: 8vh;
  }
}
@media (max-width: 767px) {
  input[id="display-name"] {
    width:70%;
    max-width:300px;
    margin-left: -20px;
  }
  .btn-pull {
    margin-right: 18%;
  }
  .message-app-card .keycontainer {
    padding-right: 12px;
  }
  .filewell {
    height:29vh;
  }

  .file-item {
    padding: 7px 15px;
    padding-bottom: 6px;
  }

  #connectionStatus {
    margin-top: 5vh;
    margin-bottom: 8vh;
  }
  // .copyclipboard-card {
  //   float: auto;
  // }
}

@media (min-width: 768px) {
  .copyclipboard-card {
    // width: 40%;
    padding-top: 3px;
    float:left;
  }
  .copyclipboard-card .keycontainer {
    padding-right: 44px;
  }
}

@media (min-width: 992px) {
  .btn-hide {
    display: block;
    position: absolute;
    color: $kinddarkgrey;
    float: left;
    margin: 20px;
    position: relative;
    top: 58vh;
    z-index: 1001;
    outline: none;
  }
  .generateInput {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 20px;
    margin-left: 60px;
  }
  .btn-push {
    margin-top: 56px;
  }
  .btn-pull {
    margin-top: 20px;
  }
  .fa-arrow-down, .fa-arrow-up {
    display: none;
  }
}

@media (min-width: 1200px) {
  .btn-hide {
    position: absolute;
    color: $kinddarkgrey;
    float: left;
    margin: 20px;
    position: relative;
    top: 63vh;
    z-index: 1000;
    outline: none;
  }
}

@media (max-width: 767px) {
  .icon-link {
    margin-left: 0;
    width: 45px;
    height: 45px;
    line-height: 45px;
  }
  .icon-link .fa {
    color: #fff;
    line-height: 45px;
    font-size: 27px;
  }
  .icon-link .fa-slack {
    font-size: 22.5px;
  }
  .generateInput {
    margin-left: 0;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 19px;
  }
  .myfiles {
    padding-left: 5px;
    padding-right: 5px;
    padding-top:7px;
    font-size: 13px;
  }
  .myfiles h3 {
    padding: 0 50px;
    font-size: 19px;
  }
  .btn-generate-key {
    width: 180px;
    margin-bottom: 35px;
  }

  .keycopy {
    float: none;
    margin: 0 auto;
    width:100%;
    transition: all 0.3s ease;
  }

  .float-link {
    padding: 27px;
    padding-left: 21px;
    padding-right: 0;
    font-size: 25px !important;
  }

  .largelink {
    height: 98px;
    width:30vw;
    min-width:160px;
    span h3 {
    padding: 38px;
    text-indent: 3px;
    font-size: 21px;
    }
  }
  .flashcopied {
    font-size: 11px;

  }
  .copyclipboard-card {
    height:155px;
    margin-top: 15px;
  }
}

/*small phones  portrait*/

@media(max-width: 380px) {
  input[id="shareKeyInputElm"] {
    width: 70vw;
  }
}
