.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
  height: 60px;
  padding-top: 15px;
}

#about, #terms, #press {
  background-color: #eee;
  padding:50px 30px;
  min-height: 80vh;
  color:#222;
  text-transform: none;
  p{
    text-align: left;
  }
}

ul.pressfacts {
  li {
    list-style: initial;
    text-align: left;
    text-transform: none;
    letter-spacing: 1px;
  }
}

#terms{
  .desc {
    p {
  font-size: 16px;
}
}
}

@media(min-width: $screen-xs-min){
  #about, #terms {
    padding:50px;
  }

}
